{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Stanton Fredericks CV</title>
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <section id="services" class="section">

        <div class="container">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"></p>
        </div>
        <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Services Offered</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="fa fa-id-card"></i>
                    </div>
                    <h4><a href="staff.html">Staffing Solutions</a></h4>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <h4><a href="Pay.html">Payroll Outsourcing</a></h4>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <h4><a href="advisory.html">Advisory and professional services</a></h4>

                </div>

            </div>
        </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Features Section Start -->
    <section id="features" class="section" data-stellar-background-ratio="0.2">
        <div class="container">
            <div class="banner-text">
                <div class="section-header">
                    <div class="list"></div>
                    <h2 class="section-title">BENEFITS OF OUTSOURCING</h2>
                    <hr class="lines">
                    <p class="section-subtitle">
                        <ul class="list">
                            <li>•Save on running costs/in-house labour costs</li>
                            <li>•Allows you to stay focused on your business without distractions. Direct your efforts and time on what your business does best</li>
                            <li>•Compliance – ensuring that your reports are accurate and filed on time.</li>
                            <li>•Reduce risk – government regulations non-compliance fines</li>
                            <li>•Limit liabilities</li>
                            <li>•Level the playing field – get access to the similar technology and expertise that big companies enjoy</li>
                        </ul>
                    </p>
                </div>

            </div>
        </div>
        </div>
        </div>

        </div>

        </div>
        </div>
        </div>
        </div>
    </section>

</body>

</html>