 {% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Stanton Fredericks CV</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/FB_IMG_1554063835793.jpg' %}">
                    <hr>
                    <h4>Hello I'm Stanton</h4>
                    <p>I have recently discovered that i love coding.</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <h4>Background</h4>
                    <hr>
                    <p>During my first year of studying I had a module called Web Development. It was my first time seeing what it was like to write code and i must admit i was very overwhelmed by it. I didn't understand anything, I came across concepts
                        and terminologies I had never heard in my life before.</p>

                    <p>The class was very confusing. The Lecturer was talking about concepts such as HTML, CSS and Bootstrap. Now because I didn't understand anything I constantly asked my classmates for help, and thanks to their help I managed to pass that
                        module.
                    </p>

                    <p>Due to that horrific experience in Web Development module I vowed to learn, train my web development skills and I will continue to do so untill I have mastered it.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100  border-info">
                    <h5>My Experience as a Developer</h5>
                    <hr>
                    <p>Junior Developer and Data Analyst</p>
                    <p>This CV website is my first official Django project. I have also done a To Do app. I have created a calculator with Tkinter and Angular</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100  border-info">
                    <h5>Programming languages and frameworks that I know</h5>
                    <hr>
                    <p>Python, HTML/CSS, SQL, PHP</p>
                    <p>Django, Angular, Laravel, Ansible, Bootstrap, docker</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>Qualification</h5>
                    <hr>
                    <p>Bachelor of Information Technology in business systems</p>
                    <p>AWS Cloud Practitioner Certificate</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>Contact </h5>
                    <p>Linkedin- <a href="">www.linkedin.com/in/stanton-fredericks-5b3a081b0</a></p>
                    <p>

                    </p>
                </div>
            </div>
        </div>
        <br>
    </div>



</body>

</html>